@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #313131;
    color: #ffffff;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.box {
    max-width: 750px;
    margin: auto;
    float: center;
    text-align: center;
  }

a {
    color: #fff;
    text-decoration: none;
    background-color: #3f3f3f;
    border-radius: 4px;
    padding: 3px 6px;
    float: left;
    -webkit-transition: all 0.3s linear;
     
    
    
}

a:hover {
    background-color: #000000;
    transition: all 0.03s linear;
    color: rgb(143, 105, 0);
    
    	
}

a:active {
    color: rgb(167, 167, 167);
}

/* a:visited {
    color: rgb(130, 130, 130)
} */


.fin {
    margin: 50px 0px 50px 0px;
}



.leftimg {
    float:left; /* Выравнивание по левому краю */
     margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    }
.rightimg  {
   float: right; /* Выравнивание по правому краю  */ 
   margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }

   
.fig {
   text-align: center; /* Выравнивание по центру */ 
  }

  img {
    transition: all 0.3s linear;
    border-radius: 9px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  }

  img:hover {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    	-moz-transition: all 0.3s linear; 
    width: 100%;
  }



  

 